@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    --bs-gutter-x: 0;
}

.main {
    margin-top: 4rem;
    margin-left: 3rem;
}

.Nbar {
    margin-top: 3.5rem;
}

