@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16pt;

}

.row {
    --bs-gutter-x: 0rem;
}

.main {
    margin-top: 5rem;
    margin-left: 4rem;

}

.Nbar {
    margin-top: 3.5rem;
}

.mai {
    margin-top: 1rem;
    margin-left: 3rem;
}

.a {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: -5rem;

}


table,
td,
th {
    border: 1px solid black;

}

table {
    border-collapse: collapse;
    width: 90%;
}

th {
    height: 50px;
    width: 20%;
}


.ma {
    margin-top: 1rem;
    margin-left: 7rem;
}

.btn-g {
    width: 100%;
    justify-content: end;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.reset {
    background-color: #E0B87E;
    color: white;
    border: 0ch;
    margin-left: 4rem;
}

.btn-c {
    border-radius: 25px 25px 25px 25px;
    font-size: 20pt;
    width: 60%;
}

.submit {
    background-color: #7C904E;
    color: white;
    border: 0ch;
}

.btn {
    font-size: 12pt;
    width: 40%;
    height: 100%;
}

.button {
    background-color: #A36627;
    border: 0ch;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    width: 68%;

}

.slider.round:before {
    border-radius: 50%;
}


.modal-header {
    background-color: #7C904E;
    height: 50px;
}

.modal-title {
    color: #fff;
}

.modal-body1 {
    text-align: center;
    height: 70px;
    margin-top: 3rem;
}

.btn2 {
    margin-right: 4.3rem;
    background-color: #7C904E;
    color: #fff;
    border: 0in;
}

.btn3 {
    background-color: #7C904E;
    color: #fff;
    border: 0in;
    border-radius: 25px;
}

.u {
    width: 100px;
}

.h {
    margin-left: 6rem;
}

.t {
    background-color: #ABBE99;
    height: 45px;
    width: 100%;

}

.inbox {
    width: 50%;
    margin-left: 2rem
}

.inboxx {
    margin-left: 2.7rem
}

.brand {
    margin-left: 12rem
}

.productname {
    margin-left: 1.9rem
}

.productnumber {
    margin-left: 2rem
}

.productversion {
    margin-left: 1.9rem
}

.sellername {
    margin-left: 12.5rem
}

.image {
    margin-left: 0.1rem;
}

.productinformation {
    margin-left: -3rem;
}

.price {
    margin-left: 6rem;
}

.vax {
    margin-left: -3rem;
    margin-top: -0.1rem;
}

.vaxcheckbox {
    width: 20px;
}

.vaxcheckboxtext {
    margin-top: 0.3rem;
    margin-left: 0rem;
}

.amount {
    margin-left: 10.95rem;
    margin-top: 0.1rem;
}

.watchcostprice {
    margin-left: -4rem;
    margin-top: 0.1rem;
}

.label1 {
    margin-top: -5rem;
}

.details {
    margin-left: 0.5rem;
}

.unit {
    margin-left: 1.7rem;
}

.status {
    margin-left: -0.7rem;
}

.start {
    margin-left: -0.3rem;
}

.min1 {
    margin-left: -2.25rem;
}

.min2 {
    margin-left: -1rem;
}

.settingmin {
    margin-left: 0rem;
}

.exchange {
    margin-left: 0rem;
}