h5 {
    margin: 0px 0px 0px 10px;
    color: #470000;
}

hr {
    margin-top: 3px;
}

.bar-link {
    font-size: 18pt;
    margin-top: -0.5rem;
    color: black;
}

.bar-link:hover {
    color: white;
}

.bar {
    width: 9rem;
    min-height: 100%;
    background: #edb083;
}