@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    --bs-gutter-x: 0;
}

.main{
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 0rem;
}

.Nbar{
    margin-top: 3.5rem;
}

.h{
    background-color: #ABBE99;
}
.s{
    background-color: #fff;
    border: 0in;
}
.g{
    width: 130px;
    border: 0in;
    background-color: #ABBE99;
    margin-top: -2rem;
}

.col-12{
    margin-left: 0rem;
    margin-top: 1rem;
}
.b{
    text-align: center;
}


.m{
    background-color: #ABBE99;
    margin-left: -2.15rem;
    height: 45px;
    width: 100%;
}
.d{
    margin-top: 0.5rem;
}