@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');
body{
    background: white;
}

.content{
    background: white;
}
* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16pt;
}

.main {
    margin-top: 5rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    width: 90%;
}

.Nbar {
    margin-top: 3.5rem;
}



.g {
    width: 130px;
    border: 0in;
    background-color: #ABBE99;
    margin-top: -1rem;
}

.tt {
    color: #000;
    margin-left: 4.2rem;
}

.th {
    width: 100.8%;
    height: 50px;
    background-color: #ABBE99;
    box-sizing: border-box;
    margin-left: -0.89rem;
    margin-top: -2.25rem;
}

.ttt {
    margin-top: -1.2rem;
}

.s {
    background-color: #fff;
    border: 0in;
}

.b {
    margin-top: 1rem;
    text-align: center;
}

.p {
    background-color: #ABBE99;
    height: 27px;
    width: 630px;
    margin-top: 1rem;
    margin-left: 17rem;
}

.tp {
    color: #000;
    margin-left: 70rem;
    
}

.ttp {
    width: 65%;
    height: 50px;
    background-color: #ABBE99;
    box-sizing: border-box;
    margin-left: 15rem;
    margin-top: -2.5rem;
}

.c{
    color: #A36627;
}

.cb{
    color: #000;
}

.f {
    text-indent: 280px;
}

.y {
    text-indent: 300px;
}

.w {
    text-indent: 800px;
}

.q {
    margin-top: 2rem;
}

.row {
    --bs-gutter-x: 0rem;
}