@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.row {
    --bs-gutter-x: 0;
}

.main {
    margin-top: 5rem;
    margin-left: 4rem;
}

.Nbar {
    margin-top: 3.5rem;
}

table,
td,
th {
    text-align: center;
    border: 1px solid black;

}

table {
    border-collapse: collapse;
    width: 10%;
    margin-left: 10rem;
}

th {
    height: 50px;
}

.ma {
    margin-left: 6rem;
}

.submit {
    background-color: #7C904E;
    border: 0ch;
    color: white;
}

.btn {
    border-radius: 25px 25px 25px 25px;
    font-size: 16pt;
    width: 70%;
    height: 95%;
}

.btnd {
    background-color: #F8E4C8;
    border-radius: 25px;
    height: 95%;
}

.q {
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.y{
    font-size: 13pt;
    margin-left: 75rem;
    margin-top: 0rem;
   
}

.x{
    margin-top: 0rem;
    margin-left: -3rem;
   
}

.BTNC {
    background-color: #7C904E;
    color: #000;
    border-radius: 25px;
    font-size: 16pt;
    display: inline-block;
    width: 65%;
    text-decoration: none;
    text-align: center;

}

.s {
    background: transparent;
    border: 0px;
    margin-left: -2rem;
}

.BTNP {
    background-color: #fff;
    color: #A36627;
    border: 0in;

}