@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    --bs-gutter-x: 0;

}

.row {
    --bs-gutter-x: 0;
}

.a {
    width: 100%;
    height: 50px;
    background-color: #ABBE99;

}

.b {
    margin-left: 1rem;
    padding-top: 10px;
}

.main {
    margin-left: 1rem;
}

.c {
    color: #7C904E;
}