@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    --bs-gutter-x: 0;
}

.main {
    margin-top: 4rem;
    margin-left: 3rem;
}

.Nbar {
    margin-top: 3.5rem;
}

.mai {
    margin-top: 1rem;
    margin-left: 3rem;
}

.btn-g {
    margin-top: 1rem;
    width: 100%;
    justify-content: end;
    display: flex;
}

.btn-c {
    border-radius: 25px 25px 25px 25px;
    font-size: 20pt;
    width: 60%;
}

.submit {
    background-color: #7C904E;
    color: white;
    border: 0ch;
}

.reset {
    background-color: #E0B87E;
    color: white;
    border: 0ch;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th {
    height: 50px;
    width: 20%;
}

.btn-g {
    width: 100%;
    justify-content: end;
    display: flex;
}

.btn-c {
    border-radius: 25px 25px 25px 25px;
    font-size: 20pt;
    width: 60%;
}

.submit {
    background-color: #7C904E;
    color: white;
    border: 0ch;
}

.reset {
    background-color: #E0B87E;
    color: white;
    border: 0ch;
}
