@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    --bs-gutter-x: 0;
}

.main {
    margin-top: 4rem;
    margin-left: 3rem;
}

.Nbar {
    margin-top: 3.5rem;
}

.mai {
    margin-top: 1rem;
    margin-left: 3rem;
}

.btn-g {
    margin-top: 1rem;
    width: 100%;
    justify-content: end;
    display: flex;
}

.btn-c {
    border-radius: 25px 25px 25px 25px;
    font-size: 20pt;
    width: 60%;
}

.submit {
    background-color: #7C904E;
    color: white;
    border: 0ch;
}

.reset {
    background-color: #E0B87E;
    color: white;
    border: 0ch;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th {
    height: 50px;
    width: 20%;
}

.btn-g {
    width: 100%;
    justify-content: end;
    display: flex;
}

.btn-c {
    border-radius: 25px 25px 25px 25px;
    font-size: 20pt;
    width: 60%;
}

.submit {
    background-color: #7C904E;
    color: white;
    border: 0ch;
}

.reset {
    background-color: #E0B87E;
    color: white;
    border: 0ch;
}

/*modal เพิ่มบัญชีใหม่*/
.mmm {
    margin-top: 1rem;
    margin-left: 7.5rem;
    text-align: center;
}

.btn-primary1 {
    color: #A36627;
    margin-left: 5rem;
}

.btn-primary1:hover {
    color: #A36627;
}

.modal-title {
    color: white;
}

.btn-primary3 {
    background-color: #7C904E;
    color: white;
    border: 0ch;
}

.modal-header {
    background-color: #688557;
}

.modal-body {
    background-color: #D4DDC6;
}

.modal-footer {
    background-color: #D4DDC6;
}

.a {
    color: red;
    margin-left: 17rem;
    margin-top: -1.5rem;
}

.b {
    color: red;
    margin-left: 15.2rem;
    margin-top: -1.5rem;
}

.c {
    color: red;
    margin-left: 22.5rem;
    margin-top: -1.5rem;
}

.d {
    color: red;
    margin-left: 19rem;
    margin-top: -1.5rem;
}

.e {
    color: red;
    margin-left: 8.5rem;
    margin-top: -1.5rem;
}

.f {
    color: red;
    margin-left: 12rem;
    margin-top: -1.5rem;
}

.g {
    color: red;
    margin-left: 15rem;
    margin-top: -1.5rem;
}

.h {
    color: red;
    margin-left: 14rem;
    margin-top: -1.5rem;
}

.i {
    color: red;
    margin-left: 19rem;
    margin-top: -1.5rem;
}

.j {
    color: red;
    margin-left: 18.5rem;
    margin-top: -1.5rem;
}