@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16pt;
}

.col-12 {
    margin-bottom: 2rem;
}

.col-xl-12 {
    margin-bottom: 2rem;
}

.content {
    margin-top: 5rem;
    margin-left: 5rem;
}

.B {
    margin-right: 5rem;
}

.line {
    width: 50%;
    height: 1px;
    background-color: black;
    margin-top: 20px;
}

.BTN {
    border-radius: 25px;
    width: 15%;
    background-color: #7C904E;
    color: white;
    border: 0in;
}

.row1 {
    margin-left: 4rem;
}

.main {
    margin-top: 5rem;
    margin-left: 4rem;
    width: 85%;
}

.Nbar {
    margin-top: 3.5rem;
}

.t {
    margin-left: 5rem;
}

.rr {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

.rrs {
    margin-bottom: 1rem;
    margin-right: 5.8rem;
}

.rrp {
    margin-bottom: 2rem;
    margin-right: 6.3rem;
}

.row {
    --bs-gutter-x: 0rem;
}

@media only screen and (min-width: 835px) {
    .col-xl-4 {
        margin-bottom: 1.35rem;
    }

}

@media only screen and (max-width: 935px) {
    .line {
        width: 40%;
    }
}

@media only screen and (max-width: 835px) {
    .BTN {
        width: 50%;
    }

    textarea {
        max-width: 50%;
        margin-top: 2rem;
        margin-bottom: 1.15rem;
        margin-left: 1.1rem;
    }

    input[type=text] {
        max-width: 40%;
        margin-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 1.15rem;
    }

    .sign {
        margin-right: 2rem;
    }
}

.bb {
    margin-left: 1rem;
}

.bbb {
    margin-left: 0.5rem;
}

.no {
    margin-left: 10.6rem;
    margin-top: 2rem;
}

.a {
    color: red;
    margin-left: 3.3rem;
    margin-top: -1.8rem;
}

.datec {
    margin-top: 2rem;
    margin-left: 10rem;
}



.owner {
    margin-top: 1rem;
    margin-left: 2.7rem;
}


.c {
    color: red;
    margin-left: 4.9rem;
    margin-top: -1.8rem;
}

.number {
    margin-left: 4.4rem;
}

.d {
    color: red;
    margin-left: 7.4rem;
    margin-top: -1.8rem;
}

.ps {
    margin-top: 1rem;
    margin-left: 4.3rem;
}

.xx {
    margin-top: 1rem;
    margin-left: 10rem;
}

.xxx {
    margin-top: 1rem;
    margin-left: 6rem;
}

.customerp {
    margin-left: 10rem;
    margin-top: 1rem;
}

.e {
    color: red;
    margin-left: 4rem;
    margin-top: -1.8rem;
}

.namec {
    margin-left: 20em;
    margin-top: 1rem;
}

.f {
    color: red;
    margin-left: 2rem;
    margin-top: -1.8rem;
}

.lastc {
    margin-left: 9.6rem;
    margin-top: 1rem;
}

.g {
    color: red;
    margin-left: 4.3rem;
    margin-top: -1.8rem;
}

.idcard {
    margin-left: 8rem;
    margin-top: 1rem;
}

.ct {
    margin-top: 1rem;
    margin-left: 6rem;
}

.ctc {
    margin-top: 1rem;
    margin-left: 11rem;
}

.btn-g {
    width: 100%;
    justify-content: end;
    display: flex;
    margin-top: 2rem;
}

.btn-c {
    border-radius: 25px 25px 25px 25px;
    font-size: 20pt;
    width: 60%;
}

.submit {
    background-color: #7C904E;
    color: white;
    border: 0ch;
}

.buttom {
    margin-bottom: 3rem;
}