@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16pt;
}

.main {
    margin-top: 5rem;
    margin-left: 4rem;
    text-align: center;
    width: 90%;
}

table,
td,
th {
    text-align: left;
    border-radius: 25px;
    background-color: #ABBE99;

}

.table {
    border-collapse: collapse;
    width: 100%;
}

.th {
    height: 100px;
    width: 50%;
}

.col-12 {
    margin-left: 1rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
}

.row {
    --bs-gutter-x: 0rem;
}

.s {
    background-color: #fff;
    border: 0in;
}

.col-10 {
    margin-top: 1rem;
}