@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16pt;

}

.navbar {
    width: 100%;
    background-color: white;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

/*.navbar a:hover {
    background-color: white;
}*/

.m {
    margin-left: 0rem;
}

.n {
    color: #688557;
}

.d {
    border-radius: 25px 25px 25px 25px;
    background-color: #ABBE99;
    border: 0ch;

}

.fa-search {
    background: transparent;
    border: 0px;
    position: relative;
    left: -45px;
}



@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}