@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16pt;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.row {
    --bs-gutter-x: 0;
}

.main {
    margin-top: 4rem;
    margin-left: 3rem;
}

.Nbar {
    margin-top: 3.5rem;
}

.topic {
    margin-top: 1rem;
    margin-left: 2rem;
}

.ma {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.allnum {
    margin-top: 1rem;
    margin-buttom: 1rem;
}

.all {
    margin-left: 6rem;
}

.num {
    margin-left: 58rem;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
    height: 50px;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    width: 90%;
}

select {
    background-color: #ABBE99;
    border: 0ch;
}

.submit {
    background-color: #7C904E;
    border: 0ch;
    color: white;
}

.btn:hover {
    color: white;
}

.c {
    margin-left: 55rem;
}

.btn-d {
    border-radius: 25px 25px 25px 25px;
    background-color: #F8E4C8;
    font-size: 16pt;
    height: 100%;
}

.btn {
    border-radius: 25px 25px 25px 25px;
    font-size: 16pt;
    width: 150%;
}

.s {
    background: transparent;
    border: 0px;
    margin-left: -2rem;
}

.v {
    margin-left: 47rem;
}

.w {
    margin-left: -4rem;
}

.bgs {
    border: 0ch;
    background-color: white;
}

/*ลบ*/

.modal-title {
    color: white;
}

.modal-header {
    background-color: #688557;
}

.modal-footer {
    background-color: white;
}

.modal-title2 {
    color: white;
}

.btn-primary2 {
    background-color: #7C904E;
    color: white;
    border: 0ch;
    width: 10rem;
}

.modal-body {
    margin-top: 1rem;
    margin-left: 1rem;
}