@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    --bs-gutter-x: 0;
}

.main {
    margin-top: 5rem;
    margin-left: 4rem;
    width: 90%;
}

.row {
    --bs-gutter-x: 0rem;
}

.Nbar {
    margin-top: 3.5rem;
}

.ma{
    margin-top: 1rem;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th {
    height: 50px;

}

.btnd {
    background-color: #F8E4C8;
    border-radius: 25px;
}

.Nbar {
    margin-top: 3.5rem;
}

.s {
    background: transparent;
    border: 0px;
    margin-left: -2rem;
}