@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16pt;
}

.row {
    --bs-gutter-x: 0rem;
}

.Nbar {
    margin-top: 3.5rem;
}

.main {
    margin-top: 5rem;
    margin-left: 4rem;
}

.mai {
    margin-left: 30rem;
}

.ma {
    margin-left: 4rem;
}

.searchdate{
    margin-left: 25rem;
}

.box{
    margin-left: -3rem;
}

.search {
    background: transparent;
    border: 0px;
    margin-left: -2rem;
}

.ordertable {
    margin-top: 2rem;
    margin-left: 4rem;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
}

th {
    height: 50px;

}

.btnd {
    background-color: #F8E4C8;
    border-radius: 25px;
    height: 115%;
}

.date{
    height: 115%;
}
