@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    
}

.row {
    --bs-gutter-x: 0;


}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.main{
    margin-top: 5rem;
    margin-left: 4rem;
}

.Nbar{
    margin-top: 3.5rem;
}
table,
td,
th {
    border: 1px solid black;
    text-align:center;
}

table {
    border-collapse: collapse;
    width: 10%;
    margin-left: 10rem;
}

th {
    height: 50px;
    width: 20%;
}
.btnd{
    background-color: #F8E4C8;
    border-radius: 25px;
}
.BTNC{
    background-color: #7C904E;
    color: #000;
    border-radius: 25px;
    font-size: 16pt;
    display: inline-block;
    width: 65%;
    text-decoration: none;
    text-align: center;

}


.BTNP{
    background-color: #fff;
    color: #A36627;
    border: 0in;
    
}
.btn-d {
    border-radius: 25px 25px 25px 25px;
    background-color: #F8E4C8;
    border: 0ch;
    width: 65%;
    margin-left: 5rem;
}

.btn {
    border-radius: 25px 25px 25px 25px;
    font-size: 20pt;
    width: 65%;
}

.modal-header{
    background-color: #7C904E;
    height: 50px;
}
.modal-title{
    color: #fff;
}
.modal-body1{
   text-align: center;
   height: 70px;
   margin-top: 3rem;
}

.btn2{
    margin-right: 4.3rem;
    background-color: #7C904E;
    color: #fff;
    border: 0in;
}

.btn1{
    background-color: #fff;
    
}

.btn3{
    background-color: #7C904E;
    color: #fff;
    border: 0in;
    border-radius: 25px;
}
.row{
    --bs-gutter-x: 0rem;
}

.u{
    width: 100px;
}
.h{
    margin-left: 6rem;
}
.t{
    background-color: #ABBE99;
    height: 45px;
    width: 100%;
   
}

.q{
        margin-left: 4rem;
        margin-top: 1rem;
    
}

.c{
    margin-left: 4rem;
    margin-top: 1rem;

}
.z{
    color:black;
    margin-left: -73rem;
}
.x{
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.aa{
    margin-top: 4.2rem;
    margin-left: 2rem;
}

.bb{
    margin-left: 0rem;
}

.l{
    background: transparent;
    border: 0px;
}

.u{
    margin-left: -6rem;
    margin-top: 0.5rem;
}

.m{
    margin-left: -3rem;
    margin-top: 0.5rem;
    
}

.s{
    margin-left: 3.8rem;
    margin-top: 0.6rem;
}

.n{
    background-color: #ABBE99;
}

.a{
    margin-left: 9rem;
}