@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16pt;
}

.row {
    --bs-gutter-x: 0rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.main {
    margin-top: 5rem;
    margin-left: 4rem;
}

.Nbar {
    margin-top: 3.5rem;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

table {
    border-collapse: collapse;
    width: 10%;
    margin-left: 10rem;
}

th {
    height: 50px;
}

.btnd {
    background-color: #F8E4C8;
    border-radius: 25px;
    width: 70%;
    height: 100%;
}

.BTNC {
    background-color: #7C904E;
    color: #000;
    border-radius: 25px;
    font-size: 16pt;
    display: inline-block;
    width: 65%;
    text-decoration: none;
    text-align: center;

}

.s {
    background: transparent;
    border: 0px;
    margin-left: -2rem;
}

.BTNP {
    background-color: #fff;
    color: #A36627;
    border: 0in;

}

.btn-d {
    border-radius: 25px 25px 25px 25px;
}

.submit {
    background-color: #7C904E;
    border: 0ch;
    color: white;
}

.btn {
    border-radius: 25px 25px 25px 25px;
    font-size: 16pt;
    width: 80%;
    height: 100%;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.modal-header {
    background-color: #7C904E;
    height: 50px;
}

.modal-title {
    color: #fff;
}

.modal-body1 {
    text-align: center;
    height: 70px;
    margin-top: 3rem;
}

.row {
    --bs-gutter-x: 0rem;
}

.u {
    width: 100px;
}

.h {
    margin-left: 6rem;
}

.t {
    background-color: #ABBE99;
    height: 45px;
    width: 100%;

}

.g {
    background-color: #D4DDC6;
    margin-left: 1rem;
    height: 100%;
    width: 60%;
}

.producttable {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
}

.z {
    font-size: 16pt;
    margin-left: 45rem;

}

.y {
    font-size: 16pt;
    margin-left: -3rem;
}

.x {
    font-size: 16pt;
    margin-left: -2rem;
}

.modal-title2 {
    color: white;
}

.btn-primary1 {

    background-color: #7C904E;
    color: #fff;
    border: 0in;
}

.btn1 {
    border-radius: 25px 25px 25px 25px;
    font-size: 16pt;
    width: 20%;
}

.bgs {
    border: 0ch;
    background-color: white;
}