@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    --bs-gutter-x: 0;
}

.main{
    margin-top: 5rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.Nbar{
    margin-top: 3.5rem;
}



.btne{
    height: 120px;
    width: 30%;
    margin-top: 1.5rem;
}

.h6{
    background-color: #ABBE99;
    margin-left: -2.15rem;
    height: 50px;
}
.m{
    margin-top: 1rem;
    margin-left: 1rem;
}

.g{
    width: 130px;
    border: 0in;
    background-color: #ABBE99;
    margin-top: -1rem;
}