@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    --bs-gutter-x: 0;
}

.main{
    margin-top: 5rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.Nbar{
    margin-top: 3.5rem;
}

.t{
    background-color: #ABBE99;
    height: 45px;
    width: 100%;
    margin-left: 1.8rem;
    margin-top: 1rem;
}

.q{
    margin-top: 1rem;
}
