@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16pt;

}

.row {
    --bs-gutter-x: 0rem;
}

.main {
    margin-top: 5rem;
    margin-left: 4rem;
    width: 90%;
}

.Nbar {
    margin-top: 3.5rem;
}

.ma {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.plus {
    margin-top: -0.2rem;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 90%;
}

th {
    height: 50px;

}

select {
    background-color: #ABBE99;
    border: 0ch;
}

.submit {
    background-color: #7C904E;
    border: 0ch;
    color: white;
}

.btn:hover {
    color: white;
}

.btn-d {
    border-radius: 25px 25px 25px 25px;
    background-color: #F8E4C8;
    font-size: 16pt;
    height: 100%;
}

.btn {
    border-radius: 25px 25px 25px 25px;
    font-size: 16pt;
    height: 100%;
    width: 80%;
}

.s {
    background: transparent;
    border: 0px;
    margin-left: -2rem;
}

.w {
    margin-left: -4rem;
}

.bgs {
    border: 0ch;
    background-color: white;
}

.btn1 {
    border: 0ch;
    background-color: white;
}

/*ลบ*/
.modal-header {
    background-color: #688557;
}

.modal-title2 {
    color: white;
}

.btn-primary2 {
    background-color: #7C904E;
    color: white;
    border: 0ch;
}

.body {
    margin-top: 2rem;
}