@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    --bs-gutter-x: 0;
}

.main {
    margin-top: 4rem;
    margin-left: 3rem;
}

.Nbar {
    margin-top: 3.5rem;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th {
    height: 50px;
    width: 20%;
}

.re {
    border-radius: 25px 25px 25px 25px;
    font-size: 16pt;
    width: 150%;
    margin-left: 40;
}


.buttom {
    background-color: #FF0000;
    color: white;
    border: 0ch;

}

@media only screen and (max-width: 1020px) {
    .main {

        margin-left: 3rem;
    }
}

@media only screen and (max-width: 485px) {
    h1 {
        font-size: 20px;
    }

    .re {
        margin-left: -2rem;
        margin-top: 2rem;
        width: 5rem;
    }
}