<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<style type="text/css">
.setcenter {
	text-align: center;
}
.setright {
	text-align: right;
}
h2{
  font-size: 55pt;
  }
  td{
  font-size: 40pt;
  }
</style>
</head>

<body>
<table  width="1000" border="0">
  <tr class="setcenter">
    <td colspan="2" class="setcenter"><h2>ร้านวรเชษฐ์เกษตรภัณฑ์</h2></td>
  </tr>
  <tr class="setcenter" >
    <td colspan="2" class="setcenter"><h2>สัญญาซื้อขาย</h2></td>
  </tr>
  <tr>
    <td>ฉบับที่ : xxx</td>
    <td class="setright">วันที่ทำสัญญา : xxx</td>
  </tr>
  <tr>
    <td colspan="2">ข้าพเจ้า xxxx  xxxxx ซึ่งต่อไปในหนังสือสัญญานี้เรียกว่าผู้ขายฝ่ายหนึ่งกับ</td>
  </tr>
  <tr class="setcenter">
    <td colspan="2">
    <table border="0">
      <tr>
        <td width="454">ข้าพเจ้า : xxx</td>
        <td width="530">ชื่อ : xxx</td>
        <td width="454">นามสกุล : xxx</td>
        <td width="530">รหัสบัตรประชาชน : xxx</td>
      </tr>
      </table>
      </td>
     </tr>
     <tr>
    <td colspan="2">ซึ่งต่อไปในหนังสือสัญญานี้เรียกว่าผู้ซื้อฝ่ายหนึ่ง ทั้งสองฝ่ายตกลงทำสัญญาซื้อขายทรัพย์สินมีดังข้อความต่อไปนี้</td>
  <tr>
      <td colspan="2">ข้อ ๑ ผู้ขายได้ขาย : xxx</td>
  </tr>
  <tr>
      <td colspan="2">ให้แก่ผู้ซื้อเป็นจำนวนเงิน xxx บาท xxxx สตางค์ (xxxxxxxx)</td>
  </tr>
  <tr>
      <td colspan="2">และยอมส่งมอบทรัพย์สินที่ขายให้แก่ผู้ซื้อวันที่  
xxx
 และผู้ขายได้รับราคาดังกล่าวแล้วไปจากผู้ซื้อเสร็จแล้วตั้งแต่วันที่ xxx</td>
  </tr>
  <tr>
      <td colspan="2">ข้อ ๓ : </td>
  </tr>
<tr>
      <td colspan="2">ข้อ ๔ ผู้ขายและผู้ซื้อได้ทราบข้อความในสัญญานี้ดีแล้ว จึงได้ลงลายมือชื่อไว้ในสัญญานี้เป็นหลักฐาน</td>
  </tr>
  <tr class="setcenter">
    <td colspan="2">&nbsp;</td>
</tr>
   <tr class="setcenter">
    <td colspan="2">
    <table border="0">
      <tr>
        <td width="494" class="setright">ลงชื่อ xxx  &nbsp;&nbsp;</td>
        <td width="374">ชื่อ : xxx</td>
        <td width="406">นามสกุล : xxx</td>
        <td width="284">พยานคนที่ 1</td>
      </tr>
      <tr>
        <td width="494" class="setright">ลงชื่อ xxx  &nbsp;&nbsp;</td>
        <td width="374">ชื่อ : xxx</td>
        <td width="406">นามสกุล : xxx</td>
        <td width="284">พยานคนที่ 2</td>
      </tr>
      <tr>
        <td width="494" class="setright">ลงชื่อ xxx  &nbsp;&nbsp;</td>
        <td width="374">ชื่อ : xxx</td>
        <td width="406">นามสกุล : xxx</td>
        <td width="284">พยานคนที่ 3</td>
      </tr>
      <tr>
        <td width="494" class="setright">ลงชื่อ xxx  &nbsp;&nbsp;</td>
        <td width="374">ชื่อ : xxx</td>
        <td width="406">นามสกุล : xxx</td>
        <td width="284">ผู้ขาย</td>
      </tr>
      <tr>
        <td width="494" class="setright">ลงชื่อ xxx  &nbsp;&nbsp;</td>
        <td width="374">ชื่อ : xxx</td>
        <td width="406">นามสกุล : xxx</td>
        <td width="284">ผู้ซื้อ</td>
      </tr>
      </table>
      </td>
     </tr>
     <tr class="setcenter">
    <td colspan="2">&nbsp;</td>
</tr>
  <tr>
      <td colspan="2">๑.หากผู้ขายยังไม่ได้ส่งมอบทรัพย์ให้ในเวลาทำสัญญาควรจะเติมข้อความอีก ๑ ข้อว่าตราบใดที่ผู้ขายยังไม่ส่งมอบทรัพย์ให้ ยังไม่ถือว่าได้มีการซื้อขาย มิฉะนั้นผู้ซื้ออาจเสียเปรียบผู้ขาย</td>
  </tr> 
  <tr>
      <td colspan="2">๒. สัญญาซื้อขายไม่ต้องปิดอากรแสตมป์ เว้นแต่จะถือว่าสัญญานี้เป็นใบรับเงินแล้ว ถ้าสัญญาซื้อขายนี้ตั้งแต่ ๑๐ บาท ถึง ๒๐ บาท ต้องติดอากรแสตมป์ ๑๐ สตางค์ ถ้าสัญญาซื้ขายนี้เกิน ๒๐ บาท ทุก ๒๐ บาท หรือเศษของ ๒๐ บาท ต่อ ๑๐ สตางค์ ถ้าสัญญาซื้อขายต่ำกว่า ๑๐ บาท ไม่ต้องติดอากรแสตมป์</td>
  </tr>

</table>
</body>
</html>
