<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<style type="text/css">
.setcenter {
	text-align: center;
}
.setright {
	text-align: right;
}
</style>
</head>

<body>
<table  width="1000" border="0">
  <tr class="setcenter">
    <td colspan="2"><h2>ร้านวรเชษฐ์เกษตรภัณฑ์</h2></td>
  </tr>
  <tr class="setcenter">
    <td colspan="2"><h2>สัญญาซื้อขาย</h2></td>
  </tr>
  <tr>
    <td>วันที่วางบิล :&nbsp;xxx</td>
    <td class="setright">วันที่รับของ : xxx</td>
  </tr>
  <tr>
    <td colspan="2">ชื่อผู้ขาย : xxx</td>
  </tr>
  <tr>
    <td>วิธีการชำระเงิน : เงินสด</td>
    <td class="setright">วันที่ชำระเงิน : xxx</td>
  </tr>
  <tr>
    <td colspan="2">หมายเหตุ :</td>
  </tr>
  <tr class="setcenter">
    <td colspan="2">รายการสินค้า
      <table width="1000" border="1">
        <tr class="setcenter">
          <td width="174">ประเภทสินค้า</td>
          <td width="204">รายการสินค้า</td>
          <td width="115">ยี่ห้อ</td>
          <td width="106">รุ่น</td>
          <td width="153">ราคาต่อหน่วย (บาท)</td>
          <td width="50">จำนวน</td>
          <td width="152">ราคา (บาท)</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="setcenter">
    <td colspan="2">ค่าใช้จ่ายอื่นๆ
    <table width="1000" border="1">
      <tr class="setcenter">
        <td width="454">รายการ</td>
        <td width="530">ราคา</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
  <tr class="setright">
    <td colspan="2">ยอดสุทธิ : xxx</td>
  </tr>
</table>
</body>
</html>
