<html>
<head>
<style type="text/css">
.setcenter {
	text-align: center;
}
.setright {
	text-align: right;
}
h2{
  font-size: 55pt;
  }
  td{
  font-size: 40pt;
  }
</style>
</head>

<body>
<table  width="1000" border="0">
<tr>
    <td colspan="2" class="setright">1/2 &nbsp;&nbsp;</td>
</tr>
  <tr class="setcenter">
    <td height="41" colspan="2"><h2>ร้านวรเชษฐ์เกษตรภัณฑ์</h2></td>
</tr>
  <tr class="setcenter">
    <td colspan="2"><h2>ใบส่งของ</h2></td>
  </tr>
  <tr class="setcenter">
    <td colspan="2">&nbsp;</td>
</tr>
<tr class="setcenter">
 <td>
    <table width="1386" border="1">
      <tr class="setcenter">
         <td width="140" class="setcenter">ลำดับ </td>
        <td width="361" class="setcenter">รายละเอียด</td>
        <td width="162" class="setcenter">จำนวน </td>
        <td width="451" class="setcenter">หน่วยละ </td>
        <td width="238" class="setcenter">จำนวนเงิน </td>
      </tr>
      <tr>
        <td width="140">&nbsp; </td>
        <td width="361">&nbsp;</td>
        <td width="162">&nbsp; </td>
        <td width="451">&nbsp; </td>
        <td width="238">&nbsp; </td>
      </tr>
      <tr>
        <td  colspan="3">หมายเหตุ : xxx</td>
        <td width="451" class="setright">ยอดรวม : xxx &nbsp;</td>
        <td width="238" class="setright">xxx &nbsp;</td>
      </tr>
       <tr>
        <td colspan="3">&nbsp;</td>
        <td width="451" class="setright">ยอดรวมสุทธิ : xxx &nbsp;</td>
        <td width="238" class="setright">xxx &nbsp;</td>
      </tr>
    </table>
   </td>
</tr>
<tr>
    <td colspan="2" class="setright">สี่ร้อยห้าสิบบาทถ้วน &nbsp;</td>
</tr>
  <tr class="setcenter">
    <td colspan="2">&nbsp;</td>
</tr>
<tr>
<td>
    <table width="1000" border="0">
    <tr class="setcenter">
    <td colspan="2">ลงชื่อ.............................ผู้ส่งของ</td>
    <td colspan="2">ลงชื่อ.............................ผู้รับของ</td>
</tr>
  </table>
</table>
</body>
</html>
